{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 150,
    "tabWidth": 4,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid"
}
